<html>
<head>
    <title>Add Problem</title>
</head>
<body>

<form action="{{ url_for('grade') }}" method="post" name="add_form">
    {{ form.hidden_tag() }}

    <p>
        {{ form.p11(readonly=true) }} +
        {{ form.p12(readonly=true) }} =
        {{ form.result1 }}
    </p>
    <p>
        {{ form.p21(readonly=true) }} +
        {{ form.p22(readonly=true) }} =
        {{ form.result2 }}
    </p>
    <p>
        {{ form.p31(readonly=true) }} +
        {{ form.p32(readonly=true) }} =
        {{ form.result3 }}
    </p>
    <p>
        {{ form.p41(readonly=true) }} +
        {{ form.p42(readonly=true) }} =
        {{ form.result4 }}
    </p>
    <p>
        {{ form.p51(readonly=true) }} +
        {{ form.p52(readonly=true) }} =
        {{ form.result5 }}
    </p>

    <p><input type="submit" value="Check"></p>
</form>

</body>
</html>
